.header-hero {
    background-image: url("/img/herobg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 265px;
    &__description {
        display: block;
        justify-content: center;
        text-align: center;
        color: white;
        align-items: center;
    }
    &__title {
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &__subtitle {
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 48px;
    }
    &__form {
        position: relative;
        margin: 0 auto;
    }
    &__input {
        border: none;
        outline: none;
        width: 650px;
        min-height: 65px;
        background: white;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 120px;
    }
    &__input:hover {
        color: red;
    }
    &__btn {
        bottom: 8px;
        color: white;
        height: 55px;
        width: 145px;
        background: #5474fd;
        cursor: pointer;
        font-family: 'Aleo', serif;
        font-weight: 700;
        border: none;
        outline: none;
        margin-bottom: 20px;
    }
    &__btn:hover {
        cursor: pointer;
        transform: rotate(0.5turn);
    }
    &__scroll {
        display: block;
        text-align: center;
        color: white;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 5px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
    }
}